@import "tailwindcss";

@theme inline {
  --color-background: hsla(37, 70%, 94%, 1);
  --color-foreground: hsla(37, 53%, 35%, 1);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: hsla(37, 70%, 94%, 1);
  --color-primary-hover: hsla(37, 45%, 40%, 0.2);
  --color-primary-input-border: hsla(37, 45%, 40%, 1);
  --color-primary-accent: hsla(37, 45%, 40%, 1);
  --color-note--random-background: hsla(24, 81%, 67%, 0.5);
  --color-note--school-background: hsla(42, 95%, 78%, 0.5);
  --color-note--personal-background: hsla(176, 23%, 57%, 0.5);
}

.inria-serif-light {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: normal;
}

.inria-serif-regular {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.inria-serif-bold {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.inria-serif-light-italic {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: italic;
}

.inria-serif-regular-italic {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.inria-serif-bold-italic {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: italic;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}